$background-color: #fafafa;
$text-main-color: #666;

html,
body {
	margin: 0;
	padding: 0;
}
body {
	font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
	background: $background-color;
	color: $text-main-color;
	margin: 0 auto;
	width: 900px;
}

.app {
	display:flex;
	justify-content: space-around;
}

table {
	th {
		border: 1px solid gray;
		box-shadow: 1px 1px 1px;
		cursor: pointer;
		padding: 10px 10px;
		text-align: left;
		&.up {
			&:after {
				content: '^';
			}
		}
		&.down {
			&:after {
				content: 'V';
			}
		}
	}
	td {
		text-align: left;
		min-width: 100px;
		&:nth-child(3) {
			text-align: right;
		}
	}
}
.results {
	p {
		font-size: 16px;
	}
}

label {
	display: block;
	margin: 5px 0;
}
